{% extends "layout.html" %}
{% block body %}
    {% if error %}
    <div class="alert alert-warning" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning: </strong>{{ error }} 
    </div>
    {% endif %}
    {% if msg %}
    <div class="alert alert-success" style="margin-top:60px;height: 50px;margin-left: 30px;margin-right: 30px">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{ msg }}
    </div>
    {% endif %}
<h1 style="margin-top:100px">Welcome {{user.username}}!</h1>
<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Weight (kg)</th>
            <th>Profession</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Carolina Biggleswade</td>
            <td>23</td>
            <td>65</td>
            <td>Jockey</td>
        </tr>
        <tr>
            <td>Harry Sparrowhead</td>
            <td>34</td>
            <td>89</td>
            <td>Trainer</td>
        </tr>
        <tr>
            <td>Marjorie Doors</td>
            <td>32</td>
            <td>76</td>
            <td>Yard Manager</td>
        </tr>
        <tr>
            <td>Earnest Piggington-Smithe</td>
            <td>18</td>
            <td>98</td>
            <td>Groom</td>
        </tr>
    </tbody>
</table> -->
{{table}}

{% endblock %}